@media screen and (max-width: 861px) {
  .footer {
    margin-top: 10%;

    h4 {
      width: 98% !important;
    }
  }

  .footer-subscribe {
    margin: 3% 0 15% 0 !important;

    .subscribe-input {
      margin: 3% !important;
      width: 80% !important;
    }
  }
}